include ./header

style.
  .manager-area {
    margin: 40px auto;
  }
  .post-list {
    margin-bottom: 20px;
  }
  .section {
    width: 800px;
    margin: auto;
  }
  .page-title {
    text-align: center;
    margin-bottom: 40px;
  }
  .admin-button-l1 {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #09D0B2;
    border-radius: 2px;
    color: #09D0B2;
  }
  .admin-delete-post {
    visibility: hidden;
    margin-left: 20px;
    cursor: pointer;
  }
  .post-item {
    padding: 8px 0;
  }
  .post-item:hover .admin-delete-post {
    visibility: visible;
  }
  .tag-item {
    padding: 6px 0;
  }
  .admin-delete-tag {
    visibility: hidden;
    margin-left: 20px;
    cursor: pointer;
    color: #09D0B2;
  }
  .tag-item:hover .admin-delete-tag {
    visibility: visible;
  }

  .add-tag-wrapper .add-tag-content {
    display: none;
  }
  .add-tag-wrapper.active .add-tag-content {
    display: block;
  }

  .add-tag-btn {
    color: #09D0B2;
    cursor: pointer;
  }
  .add-tag-wrapper.active .add-tag-btn {
    display: none;
  }
  .add-tag-content span {
    margin-left: 16px;
    cursor: pointer;
  }
  .add-tag-confirm {
    color: #09D0B2;
  }

main.wrapper
  section.section
    h1.page-title this is admin index page

  section.section
    a.admin-button-l1(href="/admin/post/create") write article

    .manager-area
      h3 all posts
      .post-list
        each postItem in posts
          .post-item
            a(href="/admin/post/edit/#{postItem._id}")= postItem.title
            span.admin-delete-post(data-id="#{postItem._id}") 删除

    .manager-area
      h3 all tags
      .tag-list
        each tagItem in tags
          .tag-item
            a(href="/blog/tag/#{tagItem.tagName}")= tagItem.tagName
            span.admin-delete-tag(data-id="#{tagItem._id}") 删除

        .tag-item.add-tag-wrapper
          span.add-tag-btn 添加标签
          span.add-tag-content
            input#add-tag-input
            span.add-tag-confirm 确定
            span.add-tag-cancel 取消

input#jwt-token(type="hidden", value="#{session.token}")
script.
  //- delete post
  $('.admin-delete-post').on('click', function(){
    var $this = $(this);
    var _id = $this.data('id');

    if (!confirm('are you sure to delete this post?')) {
      return;
    }

    $.ajax({
      url: '/api/posts/'+ _id,
      type: 'DELETE',
      headers: {
        'X-Token': ''
      }
    })
    .done(function(data, statusText, xhr) {
      switch (xhr.status) {
        case 204:
          $this.parents('.post-item').remove();
          break;

        case 400:
          alert(data.error)
          break;

        default:
      }
    })
    .fail(function(error) {
      alert( "error" );
    })
  });

  //- create tag
  $('.add-tag-btn').on('click', function(){
    var $parent = $(this).parent('.add-tag-wrapper');
    $parent.addClass('active');
  })
  $('.add-tag-cancel').on('click', function(){
    var $parent = $(this).parents('.add-tag-wrapper');
    $parent.removeClass('active');
  })
  $('.add-tag-confirm').on('click', function(){
    var $this = $(this);
    var $parent = $(this).parents('.add-tag-wrapper');
    var $tagName = $('#add-tag-input');
    var tagName = $tagName.val().trim();

    if (tagName == '') {
      return false;
    }

    $.ajax({
      url: '/api/tags',
      type: 'POST',
      data: {
        tagName: tagName
      }
    })
    .done(function(data, statusText, xhr) {
      switch (xhr.status) {
        case 201:
          var _html = '<div class="tag-item"><a href="/blog/tag/'+ tagName +'">'+ tagName +'</a><span data-id="'+ data.data._id +'" class="admin-delete-tag">删除</span></div>';
          $parent.before(_html);

          $parent.removeClass('active');
          $tagName.val('');
          break;
        
        case 400:
          alert(data.error)
          break;

        default:
          alert('can not handle this status code!'); 
      }
    })
    .fail(function(error) {
      alert( "error" );
    })
  });

  //- delete tag
  $('.admin-delete-tag').on('click', function(){
    var $this = $(this);
    var _id = $this.data('id');

    if (!confirm('are you sure to delete this tag?')) {
      return;
    }

    $.ajax({
      url: '/api/tags/'+ _id,
      type: 'DELETE',
    })
    .done(function(data, statusText, xhr) {
      switch (xhr.status) {
        case 204:
          $this.parents('.tag-item').remove();
          break;

        case 400:
          alert(data.error)
          break;

        default:
          alert('can not handle this status code!');
      }
    })
    .fail(function(error) {
      alert( "error" );
    })
  });


include ../footer
