include ./header

style.
  .post-content {
    width: 780px;
    min-height: 400px;
    padding: 10px 20px;
    border: 1px solid #ccc;
  }
  #editor {
    outline: none;
  }

  .post-form {
    width: 780px;
    margin: auto;
  }
  .post-edit {
    margin: 20px auto;
  }
  .post-edit input {
    display: inline-block;
    padding: 8px;
  }
main.wrapper
  section.m-header
    h1 create post
    p you can edit content below
  section.post-form
    form#form(method="post")
      .post-edit
        input(name="title", placeholder="标题", value="#{post.title}")
      .post-edit
        input(name="seoTitle", placeholder="seo标题", value="#{post.seoTitle}")
      .post-edit
        input(name="tag", placeholder="标签", value="#{post.tag}")
      .post-edit
        input#upload-file(type="file", accept=".jpeg, .jpg, .png", placeholder="上传题图")
        input#coverImg(name="coverImg", type="hidden")
      .post-edit
        .post-content(name="content")
          #editor !{post.content}
      .post-edit
        input(type="hidden", name="userId", value="#{session.user._id}")
        input(type="hidden", name="postId", value="#{post._id}")
        input#submit-post(type="submit")

input#jwt-token(type="hidden", value="#{session.token}")
script.
  //- init medium editor
  var editor = new MediumEditor('#editor', {
    toolbar: {
      buttons: ['bold', 'italic', 'underline', 'h2', 'h3', 'anchor', 'image', 'quote',  {
          name: 'pre',
          contentDefault: 'code', // default text
          contentFA: '<i class="fa fa-code"></i>' // custom icon if you're using font-awesome icons
      }]
    }
  });

  //- upload cover image
  $('#upload-file').on('change', function(){
    var $this = $(this);
    var file = $this.prop('files');
    var data = new FormData();
    data.append('uploadFile', file[0]);

    $.ajax({
      url: '/admin/upload',
      type: 'POST',
      data: data,
      cache: false,
      processData: false,
      contentType: false,
    })
    .done(function (res){
      if(res.code == 10001) {
        $('#coverImg').val(res.data.filePath);
        if(window.FileReader) {
          var reader = new FileReader();
          reader.onload = function(e) {
            $this.after('<img src="'+ e.target.result +'">');
          }
          reader.readAsDataURL($this[0].files[0]);
        }
      } else {
        alert(res.message)
      }
    })
    .fail(function (error){
      console.log(error);
    });
  });

  //- update post
  $('#submit-post').on('click', function(event){
    event.preventDefault();
    var data = {};

    $('#form').serializeArray().forEach(function(value, index, array){
      data[value.name] = value.value
    });

    $.ajax({
      url: '/api/posts/'+ data.postId,
      type: 'PUT',
      data: data,
    })
    .done(function (data, statusText, xhr){
      switch (xhr.status) {
        case 201:
          alert(data.message);
          break;

        default:
      }
    })
    .fail(function (error){
      if(error.status == 500) {
        alert('server error');
      } else if (error.status == 400) {
        alert(error.responseJSON.error);
      }
      //- console.log(error);
    });
  })

include ../footer
