doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    meta(name="renderer", content="webkit")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="format-detection", content="telephone=no")
    title= title
    //- inject:css
    link(rel="stylesheet", href="/css/font_1479ab280f8e3f241ac65ef47ed309e4.css")
    link(rel="stylesheet", href="/css/style_a63ce1af8f942446d750709188ca07b3.css")
    //- endinject
    
    //- inject:js
    script(src="/js/jquery-3.2.1_be1bac2e55e8c79fe4aa515a509ad2e8.js")
    script(src="/js/common_f28425473947b350f0f03a97adc08b4f.js")
    //- endinject
  body
    header#js-header.header
      section.header-section
        a.logo(href="#{langPath}/")
        nav#js-header-nav.header-nav
          .header-nav-normal
            a.nav-item(href="/")= t('home.home')
            a.nav-item(href="#{langPath}/blog")= t('blog.blog')
            a.nav-item(href="#{langPath}/blog/tag")= t('blog.tag')
            a.nav-item(href="#{langPath}/blog/archive")= t('blog.archive')
            a.nav-item(href="#{langPath}/about")= t('blog.about')
          .header-lang
            span#js-switch-lang.nav-item Language
            ul.header-lang-list
              if langPath == '/en'
                li.lang-item
                  a.active(href="/en#{originPath}") English
              else
                li.lang-item
                  a(href="/en#{originPath}") English

              if langPath == ''
                li.lang-item
                  a.active(href="#{originPath}") 简体中文
              else
                li.lang-item
                  a(href="#{originPath}") 简体中文

              if langPath == '/zh-hant'
                li.lang-item
                  a.active(href="/zh-hant#{originPath}") 繁體中文
              else
                li.lang-item
                  a(href="/zh-hant#{originPath}") 繁體中文
        #js-switch-nav.header-mobile-nav
          span.header-mobile-line.header-mobile-line-top
            span.header-mobile-line-entity
          span.header-mobile-line.header-mobile-line-center
            span.header-mobile-line-entity
          span.header-mobile-line.header-mobile-line-bottom
            span.header-mobile-line-entity
