include ../header
main.wrapper
  .index-title
    h1 #{content}
  .index-main
    section.index-postlist
      //- h2 最新文章
      ul
        each postItem in posts
          li.post-item
            a(href="#{langPath}/blog/#{postItem.seoTitle}")
              h2.index-post-title= postItem.title
              p.index-post-intro!= postItem.intro
      .index-postlist-footer
        if prevPage != 0
          a.post-page-btn.fl(href="#{langPath}/blog/page/#{prevPage}")= t('blog.prevPage')
        else if pageNum == 2
          a.post-page-btn.fl(href="#{langPath}/blog")= t('blog.prevPage')
        
        if nextPage != 0
          a.post-page-btn.fr(href="#{langPath}/blog/page/#{nextPage}")= t('blog.nextPage')

    section.index-aside
      .tag-list
        h2
          a(href="#{langPath}/blog/tag")= t('blog.tag')
        each tagItem in tags
          .tag-item
            a(href="#{langPath}/blog/tag/#{tagItem.tagName}")= tagItem.tagName
      .archive-list
        h2
          a(href="#{langPath}/blog/archive")= t('blog.archive')
        ul
          each archiveItem in archives
            li.archive-item
              h3 #{archiveItem.year}
              - for (var [month, num] of archiveItem.months)
                p.archive-month-item
                  a(href="#{langPath}/blog/archive/#{archiveItem.year}/#{month}") #{archiveItem.year]年#{month}月 (#{num})

include ../footer
